{% extends "motos/padre.html" %}

{% block contenidoQueCambia %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>{{ moto.marca }} {{ moto.modelo }}</h1>
            <p class="text-muted">Fecha de publicación: {{ moto.fecha_creacion }}</p>
            <hr>
            
            {% if moto.imagen %}
            <img src="{{ moto.imagen.url }}" class="img-fluid rounded mb-4" alt="{{ moto.modelo }}">
            {% endif %}

            <div class="mt-3">
                {{ moto.descripcion|safe }}
            </div>

            <hr>
            <a href="{% url 'motos_list' %}" class="btn btn-secondary mb-5">Volver al listado</a>
        </div>
    </div>
</div>
{% endblock %}